.page-contact{
    margin-top: 100px;
    width: 100vw;
    background-color: $mainColor;
    padding: 0px 0px 40px 0px;
    .titre{
        h2{
            margin-left: 4vw;
            padding-top: 30px;
            margin-bottom: 20px;
            font-size: clamp(25px, 2.6vw, 50px);
            font-family: Montserrat;
            color: rgb(255, 255, 255);
        }
        .line{
            margin-left: 4vw;
            width: clamp(80px, 9vw, 200px);
            border: 2px solid $gold;
            margin-bottom: 20px;
        }
    }
    .information{
        margin-left: 4vw;
        color: white;
        font-size: clamp(20px, 1.5vw, 30px);
    }
    .reseaux{
        display: flex;
        gap: 30px;
        margin-top: 40px;   

        margin-left: 4vw;
        .container-icon{
            transition: 0.5s;

            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;

            height: clamp(50px, 6vw, 600px);
            width: clamp(50px, 6vw, 600px);

            background-color: rgb(255, 255, 255);

            border: 4px solid $gold;
            border-radius: 5px;

            img{
                height: clamp(30px, 4vw, 400px);
                width: clamp(30px, 4vw, 400px);
                object-fit: cover;
                color: $gold;
            }
        }
        .container-icon:hover{
            transform: scale(1.05);
        }
    }
}