header{
    position: fixed;

    .burger{
        margin-top: 60px;
        margin-left: 4vw;

        .burger-button{ 
            z-index: 20;
            position: fixed;
            width: 60px;
            div{
                transition: 0.7s;
                width: 60px;
                border: 2px solid $gold;
                margin-bottom: 20px;
            }

        }
        .menu-burger-actif{
            div:nth-of-type(2){
                width: 15px;
            }
        }
    }
    nav{
        transform: translateX(-100%);
        transition: 0.7s;
        position: fixed;
        top: 0px;

        background-color: white;
        width: 100vw;
        height: 100vh;
    }
    .nav-actif{
        transform: translateX(0%);
    }

}