header{
    position: fixed;

    .burger{
        margin-top: 60px;
        margin-left: 4vw;

        .burger-button{ 
            z-index: 20;
            position: fixed;
            transition: 0.5s;
            width: 60px;
            div{
                width: 60px;
                border: 2px solid $gold;
                margin-bottom: 20px;
            }

        }
        .menu-burger-actif{
            transform: rotateZ(90deg) translateY(10px);
        }
    }
    nav{
        transform: translateX(-100%);
        transition: 1s;
        position: fixed;
        top: 0px;

        background-color: white;
        width: 100vw;
        height: 100vh;
    }
    .nav-actif{
        transform: translateX(0%);
    }
}