.page-projet{
    .titre{
        margin-top: 200px;
        width: 100vw;
        background-color: $mainColor;
        height: 150px;

        h2{
            margin-left: 4vw;
            padding-top: 30px;
            margin-bottom: 20px;
            font-size: clamp(20px, 2.5vw, 50px);
            font-family: Montserrat;
            color: rgb(255, 255, 255);
        }
        .line{
            margin-left: 4vw;
            width: clamp(50px, 10vw, 200px);
            border: 2px solid $gold;
            margin-bottom: 60px;
        }
    }

    .filtre{
        margin-top: 50px;
        display: flex;
        gap: clamp(40px, 6vw, 200px);
        margin-bottom: 100px;
        div{
            background-color: $dark;
            text-align: center;
            width: clamp(200px, 14vw, 500px);

            h3{
                color: $gold;
                font-family: Montserrat;
                font-size: clamp(20px, 1.5vw, 60px);
            }
        }
        div:first-of-type{
            text-align: left;

            h3{
                margin-left: 4vw;
            }
        }
    }

    .carte{
        width: 90vw;
        height: 200px;
        padding: 0px 20px 0px 4vw;
        background-color: $dark;

        margin-bottom: 400px;

        display: grid;
        grid-template-columns: 0.7fr 1fr;

        .container1{
            color: white;
            img{
                width: 90%;
                height: 350px;
                padding: 10px;

                background-color: black;
            }
        }
        .container2{
            
            .description{
                color: white;
                height: 200px;
            }

            .bouton{
                margin-left: 0.5vw;
                width: 35%;
                height: 80px;
                padding: 0px 10px;
                background-color: $mainColor;

                display: flex;
                justify-content: space-between;
                align-items: center;

                div{
                    background-color: white;
                    border: 4px solid $gold;
                    padding: 10px 30px;

                    font-weight: 200;
                    font-size: clamp(18px, 1.3vw, 40px);
                }
                div:hover{
                    cursor: pointer;
                }
            }
            
            .outil{
                margin-top: 30px;
                margin-left: 0.5vw;
                padding: 0px 10px;
                width: 30%;
                height: 70px;
                background-color: $mainColor;

                display: flex;
                gap: 10px;

                div{
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    background-color: rgb(62, 192, 112);
                    height: 50%;
                    width: 40px;
                    margin-top: 5%;
                }
            }
        }
    }
}